.courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

    &__link {
        text-decoration: none;
        color: inherit;
    }
    
    &__course {
        border: 1px solid #eee;
        box-shadow: 0 2px 3px #ccc;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
    }
}