.new-post {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    
    &__label {
        display: block;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;
    }
    
    &__input,
    &__text-area,
    &__select {
        display: block;
        width: 80%;
        box-sizing: border-box;
        border: 1px solid black;
        outline: none;
        font: inherit;
        margin: auto;
    }

    &__add-btn {
        margin: 5px 0;
        padding: 10px;
        font: inherit;
        border: 1px solid #fa923f;
        background-color: transparent;
        color: #fa923f;
        cursor: pointer;

        &:hover,
        &:active {
            color: white;
            background-color: #fa923f;
        }
    }

    &__error {
        text-align: center;
        color: red;
    }
}


