.nav {
    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        list-style: none;
        padding: 10px;
    }

    &__link {
        text-decoration: none;
        color: inherit;

        &:hover,
        &--active {
            color: green;
        }
    }
}