.nav {
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    &__item {
        display: inline-block;
        margin: 20px;
    }
    
    &__link {
        text-decoration: none;
        color: black;

        &:hover,
        &:active,
        &--active {
            color: #fa923f;
        }
    }
}