.full-post {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;

    &__initial-txt {
        text-align: center;
    }

    &__error {
        color: red;
        text-align: center;
    }
}

.edit {
    &__label {
        display: block;
        color: grey;
    }

    &__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        color: #fa923f;

        &:hover,
        &:active {
            color: #521751;
        }

        &--delete {
            color: red;

            &:hover,
            &:active {
                color: darkred;
            }
        }
    }
}





