.posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;

    &__link {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: #fa923f;
        }
    }
    
    &__error {
        color: red;
        text-align: center;
    }
}
