.user-output {
    width: 50%;
    margin: 1em;
    padding: 0.5em;
    background: #eee;
    border: 1px solid #333;
    text-align: center;
}

.user-output__txt {
    color: green;
    font-size: 1.2em;
}